{% macro loginforms(isDoc=true) %}
<form action='/sign_in' method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="passwd">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <div style="display:none;">
            <input type="radio" name="table" value="doctor" {% if isDoc %}checked="checked"{% endif %}>Doctor
            <input type="radio" name="table" value="patient" {% if isDoc %} {% else %}checked="checked"{% endif %}>Patient
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
{% endmacro %}