{% extends "application.html" %}
{% from "macro/log_macro.html" import column_range5, column_boolean, column_inputbox, column_time %}

<!--  QQQ log table에 인풋 -->
{% block heading %}
{% endblock heading %}


<!-- patient input form -->
{% block body %}
<form action="/log/write" method="POST">
{% set il = namespace() %}
{% set il.val = 1 %}
{% if ucol %}
  {% for ii in ucol %}
      {% if ii.col_type == 1 %}
        {{column_range5(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% elif ii.col_type == 2 %}
        {{column_inputbox(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% elif ii.col_type == 3 %}
        {{column_boolean(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% elif ii.col_type == 4 %}
        {{column_time(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% endif %}
  {% endfor %}
{% endif %}


<!-- QQQ 버튼 중앙에 위치시키기  -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}