{% extends "application.html" %}




{% block username %} <strong>{{uname}}</strong> 선생님{% endblock username %}


{% block box %}
        <i class="fas fa-user ml-3 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">user</i>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="/logout">로그아웃</a>
        </div>
{% endblock box %}

{% block sidebar1 %} 환자 보기 {% endblock sidebar1 %}
{% block sidebar2 %}로그 보기{% endblock sidebar2 %}
{% block sidebar3 %} 설정 {% endblock sidebar3 %}


{% block mypt %}나의 환자 리스트{% endblock mypt %}


{% block copyright %}LogForYou.com{% endblock copyright %}

{% block email %}logforyou@gmail.com{% endblock email %}

