{% extends "application.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block sidebar1 %}<a href="#" class="list-group-item active waves-effect"><i class="fas fa-user-plus"></i> 가입하기</a>{% endblock sidebar1 %} <!--QQQ 글자 예쁘게 띄우기-->
{% block sidebar2 %}<a href="#" class="list-group-item list-group-item-action waves-effect"> <i class="fas fa-search"></i>아이디/암호 찾기</a>{% endblock sidebar2 %} <!--QQQ 글자 예쁘게 띄우기-->
{% block sidebar3 %}{% endblock sidebar3 %}
{% block heading %}{% endblock heading %}  
{% block body %} 


{% block title %}Flasky - Register{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Register</h1>
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
