{% extends "application.html" %}
{% from "macro/test_form.html" import coloumn_range5, column_boolean, column_inputbox, test_call %}

{% block box %}
        <i class="fas fa-user ml-3 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">user</i>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">서브메뉴 1</a>
          <a class="dropdown-item" href="#">서브메뉴 2</a>
          <a class="dropdown-item" href="#">서브메뉴 3</a>
        </div>
{% endblock box %}
<!--  QQQ log table에 인풋 -->

{% block body %}
<form action="/test" method="POST">
{% set il = namespace() %}
{% set il.val = 1 %}
{% if ucol %}
  {% for ii in ucol %}
    {{ii.col_type}}
      {% if ii.col_type == 1 %}
        {{coloumn_range5(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% elif ii.col_type == 2 %}
        {{column_inputbox(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% elif ii.col_type == 3 %}
        {{column_boolean(ii.col_name, il.val, ii.id)}}
        {% set il.val = il.val + 1%}
      {% endif %}
  {% endfor %}
{% endif %}

<!-- QQQ 버튼 중앙에 위치시키기  -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock body %}